
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}
.header__rotation {
  animation: rotation 20s linear infinite;
}

.description {
  display: flex;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0 auto;
}

.two-columns__brief {
  font-size: 18px;
  max-width: 175px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.techniques {
  margin: 0 auto 0 auto ;
  max-width: 80%;
  overflow: auto;
}
.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto ;
  padding: 0;
}

.cards__item {
  text-align: center;
  margin-left: 100px;
  max-width: 240px;
  width: 100%;
  list-style: none;
  margin-top: 60px;
}
.cards__item:first-child {
  margin-left: 0;
}

.cards__item:nth-child(4) {
  margin-left: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px 0 40px;
}

.cards__title {
  margin-top: 43px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.cards__description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 0;
}
/*.cards__description {
  text-align: center;
}*/
.video {
  margin-bottom: -50px;
}
.video__iframes {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}
.video__iframe:last-child {
  margin-left: 20px;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 60px;
}

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  max-width: 648px;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 70px 0 0 0;
}

.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  cursor: pointer;
  text-decoration: none;
  color: #2f80ed;
}

.digits {
  overflow: auto;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 100px auto 0 auto;
  max-width: 60%;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  margin: 20px auto 0 auto;
  max-width: 60%;
}

.table {
  width: 1100px;
  margin: 0 auto 100px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  list-style: none;
  max-width: 250px;
  width: 100%;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

.khan {
  background-color: #f2f2f2;
  overflow: auto;
}

.khan__container {
  max-width: 80%;
  margin: 105px auto 0 auto;
  text-align: left;

}
.khan__author {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin: 0;
}

.khan__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.khan__quote {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 790px;
  margin: 50px 0 0 0;
}

.khan__quote-author {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 30px 0 0 0;
}

.khan__quote-author-subline {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  margin: 10px 0 0 0;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
  overflow: hidden;
  height: 608px;
}

.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  cursor: pointer;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
}

.khan__book-pic {
  width: 620px;
  margin: 0;
  align-self: start;
}


.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
  margin: 90px auto 0 auto;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
}

.table__cell_theme_dark {
  max-width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
  text-align: start;
  margin: 0;
}

.table__text_theme_dark {
  margin: 20px auto 0 auto;
}

.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 217px auto;
  padding: 0;

}

.resources__link {
  display: inline-block;
  width: 270px;
  height: 38px;
  list-style: none;
  text-align: center;

}

.resources__logo {
  height: 100%;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  width: 100%;
  color: white;
  margin: 60px auto 40px auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-size: larger;
}
